body {
    margin: 0;
}

.container {
    height: 100vh;
    padding: 50px;
}

.dark {
    background-color: black;
}

.dark * {
    color: white;
}

.dark button {
    color: purple;
    font-weight: bold;
}